<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Registration pageConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\Internet Banking Project\Registration page.mdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="Registration pageConnectionString2" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\Internet Banking Project\Registration page.mdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="Registration pageConnectionString3" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\Internet Banking Project\Registration page.mdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="Registration pageConnectionString4" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\Internet Banking Project\Registration page.mdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="Registration pageConnectionString5" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\Internet Banking Project\Registration page.mdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="Registration pageConnectionString6" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\Internet Banking Project\Registration page.mdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="Registration pageConnectionString7" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\Internet Banking Project\Registration page.mdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="Registration pageConnectionString8" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\Internet Banking Project\Registration page.mdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="Registration pageConnectionString9" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\Internet Banking Project\Registration page.mdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="Registration pageConnectionString10" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\Internet Banking Project\Registration page.mdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="Registration pageConnectionString11" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\Internet Banking Project\Registration page.mdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="Registration pageConnectionString12" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\Dhananjay\D\Internet Banking Project\Registration page.mdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="Registration pageConnectionString13" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\Dhananjay\D\Internet Banking Project\Registration page.mdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="Registration pageConnectionString14" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\Dhananjay\D\Internet Banking Project\Registration page.mdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="Registration pageConnectionString15" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\Dhananjay\D\Internet Banking Project\Registration page.mdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="Registration pageConnectionString16" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\Dhananjay\D\Internet Banking Project\Registration page.mdb&quot;"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"
        validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
</configuration>